# Nix / DevShell
.direnv/
result*

# Node / Dependencies / Tooling
node_modules/
*.log*
.eslintcache

# Database / Local Storage
.data/

# Environment Variables / Secrets
.env*

# OS Specific Files
.DS_Store
Thumbs.db
